$font:"Helvetica Neue",-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;

//color
$white:#fff;
$black:#000;
$maroon:#83333e;
$off-white:#f2f4f5;

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    font-family: $font;
    font-size: 16px;
    

}

.container{
    width:1440px;
 
    min-width: 1440px;
    margin:0 auto;
    @media (max-width:1280px){
        width:976px;
        min-width: 976px;
    }
    @media (max-width:976px){
        width:768px;
        min-width: 768px;
    }
}


header{

    height: 80px;
    width:100%;
    position: absolute;
    top:0;
    z-index:10;
    .inner-header{
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        .logo{
            a{
                font-weight: 700;
                text-decoration: none;
                letter-spacing: 1.5px;
                color:$black
            }
        }

        .navigation{
            nav{
                a{
                    margin:0 20px;
                    text-decoration: none;
                    letter-spacing: 1.7px;
                    text-transform: uppercase;
                    font-size: 0.75rem;
                    color:$black;
                    &:last-child{
                        margin-right:0
                    }
                }
            }
        }
    }
}


.banner{
    display: flex;
    align-items: center;
    background-color: $white;
    position: relative;
    height: 100vh;
    .row{
        position: relative;
        

        .main-text{
            font-size: 4.4rem;
            text-transform: uppercase;
            letter-spacing: 42px;
            font-weight: 700;
            color:$white;
             position: absolute;
             width: 100%;
             top:50%;
             left:0;
             transform: translateY(-50%);
             text-align: center;
             mix-blend-mode: difference;
             z-index:9;

             @media (max-width:1440px){
                 font-size:4.4rem;
                 letter-spacing: 36px;
             }
        }

        .side-image{

            width:200px;
            position: absolute;
            
            &.left{
                top:12%;
                left:100px;
                
            }

            &.right {
                bottom:12%;
                right:100px;
            }

        }


        .main-image{
            width:480px;
            margin:0 auto;
            @media(max-width:1440px){
                width: 430px;
            }
           
        }

        
    }

    .scroll{
        font-weight: 700;
        font-size: .9rem;
        letter-spacing: 1.5px;
        color:$black;
        position: absolute;
        bottom:48px;
        text-transform: uppercase;
    }

    .fixed-misc{
        font-weight: 700;
        position: fixed;
        top:50%;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        color:$white;
        mix-blend-mode: difference;
        z-index:8;
        right:-110px;
        transform: rotate(90deg) ;

    }
}

//about blurb

.about-blurb{
    position: relative;
    background: $white;
    padding:48px 0;
    border:1px solid red;
    .inner-blurb{
        
            display: flex;
            width:100%;
            height: 100vh;
            justify-content: space-between;
            align-items: center;
        .content{
            width:33%;
            h3{
                font-weight: 700;
                text-transform:uppercase;
                font-size: 1.8rem;
                letter-spacing: 1.5px;
                margin:0;
                
            }

            p{
                line-height: 2rem;
                font-size: 1rem;
                font-weight: 300;

            }

            .btn-row{
                position:relative;
                width:150px;
                height: 50px;
                margin-top:1rem;
                .btn-overlay{
                    width:150px;
                    height: 50px;
                    background-color: white;
                    position: absolute;
                    top:0;
                    left:0;
                    z-index:5;
                    opacity: 1;
                    
                }
                a{
                  
                position: relative;
                z-index:4;
                    padding-top:.8rem;
                   text-align: center;
                    width:100%;
                    height: 100%;
                    display: block;
                    font-weight: 700;
                    font-size: .8rem;
                    letter-spacing: 1.5px;
                    color:$white;
                    background: $black;
                    text-transform: uppercase;
                    text-decoration: none;
                }
            }
        }

        .images{
            width:50%;
            position: relative;
            height: 100%;
          

            .blurb-img{
                position: absolute;
                width:360px;
                z-index:5;
                
                &.right{
                top:0;
                right:0;
                }

                &.left{
                    bottom:0;
                    left:0;
                }
                
            }

            
        }
    }

    .black-box{
        position: absolute;
        width: 700px;
        height: 300px;
        top:37%;
        right:0;
        z-index:4;
        background: $black;
        &.overlay{
            background: $maroon;
            z-index:6;
            mix-blend-mode: overlay;
        }
    }
}


//video

.video-section{
    width:100%;
    
   
    .video-inner{
        width:100%;
        .video-player{
            width:100%;
            height: 70vh;
            
            video{
                width:100%;
                height: 100%;
            }
        }

        .video-content{
            display:flex;
            align-items: center;
            margin: 80px 0 120px;
            .title{
                width:50%;
                    h3{
                        font-weight: 700;
                        text-transform: uppercase;
                        font-size: 1.8rem;
                        letter-spacing: 1.5px;
                        margin: 0;
                    }
            }

            .video-content-info{
                width: 50%;
                p{
                    font-size: 1rem;
          line-height: 2rem;
          font-weight: 300;
          margin: 0;
                }
            }
        }
    }
}


.footer{
    width:100%;
    .footer-inner{
        width:100%;
        .footer-brands{
            display: flex;
            width:100%;
            .brand{
                width:25%;
                height: 20vh;
                display: flex;
                background: $black;
                justify-content: center;
                align-items: center;
                img{
                    width:30%
                }
            }
        }

        .footer-social{
            display: flex;
            height: 10vh;
            justify-content: center;
            align-items: center;

            span{
                width:33%;
                text-align: center;
                
            }

            .socials{
                width:33%;
                display:flex;
                justify-content: center;
                a{
                    padding:1rem;
                    
                }
            }
        }
    }
}